* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

.Mapa {
    gap: 20px;
    background-color: #e7e6e6;
    display: flex;
    flex-direction: row-reverse;
}

.Mapa img {
    width: 55vw;
    max-height: 100vh;
}

.Mapa h2,p {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Texto_Mapa {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.menu{
    background-color: #923828;
    padding: 20px 100px;
    display: flex;
    justify-content:flex-end;
}

.menu-links{
    list-style: none;
    display: flex;
    gap: 40px;
}


.menu-links a{
    text-decoration: none;
    color: #dedede;
    font-size: 18px;
    padding: 10px 15px;
}

.menu-links a:hover{
    color: #1E1E1E;
    background-color:  #e7e6e6; 
    border-radius: 5px;
}

.logo{
    background-color: #e7e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50vh;
}

.title-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo img{
    max-width: 300px;
    height: auto;
}

.logo h1{
    color: #100f0f;
    font-size: 70px;
    font-weight: 800;
}

.logo h2{
    font-size: 50px;
    color: #923828;
    font-weight: 400;
}

.objetivo{
    background-color: #923828;
    color:  #fcfbfb;
    margin: 0 auto; 
    padding: 80px 300px; 
    display: flex;
    align-items: center;
    gap: 10px;
}

.objetivo section{
    flex: 1;
}

.objetivo h2{
    font-size: 55px;
    margin-bottom: 30px
}

.objetivo p{
    font-size: 16px; 
    line-height: 1.6; 
    margin-bottom: 15px; 
    max-width: 650px;
    text-align: left;
}

.objetivo img{
    max-width: 500px;
    height: auto;
    border-radius: 10px;
   border: 4px solid #d4d4d4;
}

.equipe{
    background-color:  #e7e6e6;
    color:  #fcfbfb;
    margin: 0 auto; 
    padding: 60px 300px; 
    height: 50vh;
    color:  #100f0f;
}

.equipe h2{
    font-size: 55px;
    margin-bottom: 50px
}

.container-equipe{
    display: flex;
    gap: 100px;
    justify-content: center;
}

.equipe-item{
    text-align: center;
}

.equipe-item img{
    max-width: 300px;
    height: auto;
    max-height: 300px;
    border-radius: 10px;
    border: 2px solid #100f0f;
}

.equipe-item h3{
    margin-top: 20px;
    font-size: 20px;
}

footer {
    background-color: #323131;
    color: #fcfbfb; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 300px;
}


.footer-links {
    list-style: none; 
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.footer-links a {
    color: #fcfbfb;
    text-decoration: none;
    font-size: 16px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-logo img {
    max-width: 150px;
    height: auto;
}

.footer-logo p {
    font-size: 14px;
    margin-top: 5px;
}

.title-logo-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-form{
  width: auto;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; 
  background-color: #e7e6e6;
  color: #fcfbfb;
}


.container-form form{
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  border: 2px solid #393939;
  border-radius: 5px;
  background-color:#696868;
}

.container-form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.container-form label{
    font-size: 16px;
    font-weight: 600;
}

.container-form input{
    width: 380px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #302f2f;
    background-color: #eaeaea;
}

.image-container img{
    max-width: 400px;
    height: auto;
}

.checkbox {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center; 
    gap: 10px; 
}
  
  .checkbox input {
    width: auto;
  }

  .container-form button{
    padding: 10px;
    font-size: 18px;
  }

  .error {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e6dfdf;
    padding: 50px;
    position: relative;
}

.conteudo {
    max-width: 50%;
    text-align: left;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: #000;
}

hr {
    width: 100px;
    height: 3px;
    background-color: #000;
    border: none;
    margin: 10px 0;
}

.botoes {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

button {
    background: #923828;
    font-size: 14px;
    font-weight: 600;
    outline: 2px solid #000;
    width: 120px;
    height: 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: #ffffff;
}

.conta {
    background: #fff;
    color: #000;
}

.dado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dado img {
    max-width: 400px;
    height: 400px;
}

.cadastrar {
    background: #923828;
}